:root {
  --color: #757575;
}
body {
  font-family: "Roboto", sans-serif, "Raleway", sans-serif;
  color: #757575;
}
.logo {
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
}
.logo-web {
  color: #2196f3;
}
.social-links .link {
  color: #757575;
}

.social-links .link:hover,
.social-links .link:focus {
  color: #2196f3;
}

.social-links .link:active {
  color: #2196f3;
}

.bg {
  background-color: #2f303a;
  position: absolute;
  width: 1600px;
  height: 300px;
  left: 3px;
}
.h1-style {
  text-align: center;
  font: size 44px;
  letter-spacing: 0.06em;
  background-color: #2f303a;
  color: #ffffff;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-width: 1600px;
  border-height: 600px;
}
.list-items {
  padding-top: 90px;
}

.h3-style {
  font-size: 14px;
  font-weight: 700;
  padding-top: 200px;
}
.lorem-ipsum {
  font-size: 14px;
  font-weight: 400;
}

.order {
  background-color: #2196f3;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  margin-left: 750px;
}
.order:hover,
.order:focus {
  color: #2196f3;
}
.order:active {
  color: #2196f3;
}
.h2-style {
  font-size: 36px;
  font-weight: 700px;
  text-align: center;
  color: #212121;
}

.agency {
  width: 53px;
  height: 16px;
  left: 453px;
  top: 32px;
}
.portfolio {
  color: 2196F3;
}
.img6 {
  position: absolute;
  width: 370px;
  height: 404px;
  left: 215px;
  top: 262px;
}
.img7 {
  width: 370px;
  height: 294px;
  left: 615px;
  top: 262px;
}
.img8 {
  position: absolute;
  width: 370px;
  height: 294px;
  left: 1015px;
  top: 262px;
}

.img10 {
}
.img11 {
}
.img12 {
}
.img13 {
}
.img14 {
}
.footer-background {
  background-color: #2f303a;
}
