:root {
  --color: #757575;
}
body {
  font-family: "Roboto", sans-serif, "Raleway", sans-serif;
  color: #757575;
}
.logo {
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  text-decoration: none;
  cursor: pointer;
}
.logo-web {
  color: #2196f3;
}
.social-links .link {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.social-links .link:hover,
.social-links .link:focus {
  color: #2196f3;
}

.social-links .link:active {
  color: #2196f3;
}

.button-bg {
  background-color: #2f303a;
  position: absolute;
  width: 1600px;
  height: 300px;
  left: 3px;
  cursor: pointer;
}
.header1-style {
  text-align: center;
  font: size 44px;
  letter-spacing: 0.06em;
  background-color: #2f303a;
  color: #ffffff;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-width: 1600px;
  border-height: 600px;
}
.order {
  background-color: #2196f3;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  margin-left: 750px;
  cursor: pointer;
}
.order:hover,
.order:focus {
  background-color: #2196f3;
  color: #ffffff;
}
.order:active {
  background-color: #2196f3;
  color: #ffffff;
}
.list-items {
  padding-top: 90px;
  line-height: 6;
}

.header3-style {
  font-size: 14px;
  font-weight: 700;
  line-height: 1, 7;
}
.paragraph-desc {
  font-size: 14px;
  font-weight: 400;
}

.header2-style {
  font-size: 36px;
  font-weight: 700px;
  text-align: center;
  color: #212121;
}

.team-style {
  background-color: #f5f4fa;
}
.team-cards {
  padding: 8px;
  border: 1px solid #212121;
}
.ftr-style {
  background-color: #2f303a;
}
.logo-ftr {
  color: #ffffff;
  text-decoration: none;
  font-size: 36px;
  font-family: "Raleway";
}
.ftr-links {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

.ftr-links .ftr-links:hover,
.ftr-links .ftr-links:focus {
  color: #2196f3;
}

.ftr-links .ftr-links:active {
  color: #2196f3;
}
class .footer-background {
  background-color: #2f303a;
}
.btn-types {
  font-size: 16px;
  cursor: pointer;
  font-weight: 500;
}
.btn-types:hover,
.btn-types:focus {
  background-color: #2196f3;
  color: #ffffff;
}
.btn-types:active {
  background-color: #2196f3;
  color: #ffffff;
}
